<div class="pager">
  {% set top_page = (info.height - 1) // per_page %}
  {% if page > 0 %}
    <a class="pager-btn" href="/page/{{page - 1}}{{custom_per_page}}">◂ Newer</a>
  {% else %}
    <span class="pager-btn disabled">◂ Newer</span>
  {% endif %}

  <span class="pager-info">Page
    <a class="page-number" title="Return to current blocks" href="/{%if custom_per_page%}page/0{{custom_per_page}}{%endif%}">{{page}}</a>
    <span class="pager-sep">/</span>
    <a href="/page/{{top_page}}{{custom_per_page}}" title="Oldest blocks">{{top_page}}</a>
  </span>

  {% if page < top_page %}
    <a class="pager-btn" href="/page/{{page + 1}}{{custom_per_page}}">Older ▸</a>
  {% else %}
    <span class="pager-btn disabled">Older ▸</span>
  {% endif %}

  <span class="pager-spacer"></span>

  <label class="pager-select">
    {% set per_page_options = [5, 10, 20, 25, 50, 100] %}
    {% if not per_page in per_page_options %}
      {{ '' if per_page_options.append(per_page) }}
    {% endif %}
    Show
    <select onchange="window.location.href = '/page/0/' + this.value">
      {% for p in per_page_options | sort %}<option{%if p == per_page%} selected="selected"{%endif%}>{{p}}</option>{% endfor %}
    </select>
    blocks / page
  </label>
</div>
