<div class="Wrapper">
  <h2 style="margin-bottom: 0px">Last {{checkpoints.checkpoints | length}} checkpoints</h2>

  <div class="TitleDivider"></div>

  <table style="width:100%">
    <thead>
      <tr class="TableHeader">
        <td>Height</td>
        <td>Block hash</td>
        <td>Checkpoint Quorum</td>
      </tr>
    </thead>

    <tbody>
      {%for cp in checkpoints.checkpoints%}
        <tr>
          <td><a href="/block/{{cp.height}}">{{cp.height}}</a></td>
          <td><a href="/block/{{cp.block_hash}}">{{cp.block_hash}}</a></td>
          <td>
            {{cp.signatures|length}}/20 signatures:
            {%set signed_voters = cp.signatures | map(attribute='voter_index') | list%}
            {%for voter in range(20)%}
              {%if voter in signed_voters%}
                <span title="Signed by checkpoint quorum voter {{voter}}" class="checkpoint-signed">✓</span>
              {%else%}
                <span title="Missing signature from checkpoint quorum voter {{voter}}" class="checkpoint-not-signed">✕</span>
              {%endif%}
            {%endfor%}
          </td>
        </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
